#AdWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin-top: 90px;
}

#AdPilsL {
    height: 400px;
    width: 227px;
    box-shadow: 0 2px 15px rgb(113, 8, 8);
}

#AdPilsR {
    height: 400px;
    width: 227px;
    box-shadow: 0 2px 15px rgb(113, 8, 8);
}


#loginForm {
    text-align: center;
    border: solid rgb(245, 197, 24);
    box-shadow: 0 2px 15px rgb(245, 197, 24);
    padding: 30px;
    background-color: rgb(238, 238, 238);
    border-radius: 10px;
    min-width: 300px;
    margin-left: 300px;
    margin-right: 300px;
    
}

#LoginButton,
#RegisterButton {
    padding: 6px 14px;
    border: none;
    background: rgb(245, 197, 24);
    color: black;
    border-radius: 4px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 15px rgb(245, 197, 24);
}



#loginForm input[type="email"],
#loginForm input[type="password"],
#loginForm input[type="text"] {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 18px;
    outline: none;
    box-shadow: none;
    margin-bottom: 1px;
}

.register-link {
    text-decoration: none;
}