    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header en navigatie */
header {
    background-color: black;
    color: white;
    padding: 10px 0;
    border-bottom: 4px solid yellow;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Secties */
section {
    padding: 40px 0;
    text-align: center;
}

h1, h2 {
    margin-bottom: 20px;
}

main {
    flex: 1;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    border-top: 4px solid yellow;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}

