

#OverOnsContainer {

    text-align: center;

}

#OverOnsBlok1 {

    margin-top: 30px;
    border: solid black;
    border-radius: 10px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 10px;

}

#OverOnsBlok2 {

    margin-top: 10px;
    border: solid black;
    padding-top: 15px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 10px;

}


#PrivacyContainer {

    text-align: center;

}

#PrivacyBlok1 {

    margin-top: 30px;
    border: solid black;
    border-radius: 10px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 5px;

}

#PrivacyBlok2 {

    margin-top: 5px;
    border: solid black;
    padding-top: 15px;
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 10px;

}

#AdCiga {
    height: 248px;
    width: 600px;
    box-shadow: 0 2px 15px rgb(144, 83, 4);
    text-align: center;
    margin-left: 460px;
    margin-top: 10px;
}


#AdPilsL, #AdPilsR {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 227px;
}

    #BietnPilsL, #BietnPilsR {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 260px; /* Make bigger as requested */
        z-index: 10;
        display: block;
    }

    #BietnPilsL {
        left: 30px;
    }

    #BietnPilsR {
        right: 30px;
    }

    #BietnPilsL img, #BietnPilsR img {
        width: 100%;
        height: auto;
        box-shadow: 0 2px 15px rgb(113, 8, 8);
        background-color: rgb(113, 8, 8);
        border-radius: 8px;
        display: block;
    }

    @media (max-width: 900px) {
        #BietnPilsL, #BietnPilsR {
            display: none;
        }
    }